---
import '@repo/shared/global.scss'
import Head, { type HeadProps } from '@repo/shared/layout/Head.astro'
import Header from './Header.astro'
import Footer from './Footer.astro'
import Toast from '@repo/ui/Toast/Toast.astro'
import type { Language } from '@repo/shared/languages'
import CookieConsent from '@repo/shared/layout/CookieConsent.astro'
import Analytics from '@repo/shared/layout/Analytics.astro'

type Props = Omit<HeadProps, 'lang'> & {
  lang?: Language
}

const { lang: propLang, ...props } = Astro.props

const lang = (Astro.params.lang as Language) || propLang || 'pl'
---

<!doctype html>
<html lang={lang}>
  <head>
    <Head {...props} lang={lang} />
    <slot name="Head" />
  </head>
  <body>
    <CookieConsent />
    <Analytics />
    <Header lang={lang} alternates={props.alternates} />
    <main id="main">
      <slot />
    </main>
    <Footer lang={lang} alternates={props.alternates} />
    <Toast />
  </body>
</html>
