---
import '@repo/shared/global.scss'
import Head, { type HeadProps } from '@repo/shared/layout/Head.astro'
import Header from './Header.astro'
import Footer from './Footer.astro'
import Toast from '@repo/ui/Toast/Toast.astro'
import type { Language } from '@repo/shared/languages'

type Props = Omit<HeadProps, 'lang'>

const { ...props } = Astro.props

const lang = (Astro.params.lang as Language) || 'pl'
---

<!doctype html>
<html lang={lang}>
  <head>
    <Head {...props} lang={lang} />
    <slot name="Head" />
  </head>
  <body>
    <Header lang={lang} alternates={props.alternates} />
    <main id="main">
      <slot />
    </main>
    <Footer lang={lang} alternates={props.alternates} />
    <Toast />
  </body>
</html>
