---
import PortableText, { PortableTextQuery, type PortableTextValue } from '@/components/ui/portable-text'
import Image, { ImageDataQuery, type ImageDataProps } from '@/components/ui/image'
import Video, { VideoDataQuery, type VideoDataProps } from '../ui/Video.astro'

export const SingleReview_Query = `
  _type == "SingleReview" => {
    ${PortableTextQuery('heading')}
    review -> {
      ${ImageDataQuery('img')}
      name,
      ${PortableTextQuery('review')}
      ${VideoDataQuery('video')}
    }
  },
`

type Props = {
  index: number
  sectionId?: string
  heading: PortableTextValue
  review: {
    img: ImageDataProps
    name: string
    review: PortableTextValue
    video?: VideoDataProps
  }
}

const { index, sectionId, heading, review } = Astro.props
---

<section class="SingleReview" id={sectionId} data-is-video={(!!review.video).toString()}>
  <header>
    <PortableText value={heading} heading={index === 0 ? 'h1' : 'h2'} class="h2" />
  </header>
  <div class="line"></div>
  <article>
    {
      review.video ? (
        <Video {...review.video} class="video" />
      ) : (
        <div class="avatar">
          <Image {...review.img} sizes="(max-width: 768px) 106px, 138px" />
          <p class="name">{review.name}</p>
        </div>
      )
    }
    <div class="review">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none">
        <path
          fill="#064040"
          d="M4.966 2.918c1.252 0 2.238.493 2.958 1.479.72.948 1.08 2.313 1.08 4.095 0 1.669-.378 3.205-1.137 4.608-.72 1.403-1.801 2.806-3.242 4.21-.038.037-.095.056-.17.056-.115 0-.21-.057-.285-.17-.076-.114-.076-.209 0-.285 1.858-1.896 2.787-4.133 2.787-6.712 0-1.062-.19-1.84-.569-2.332-.341.569-1.005.853-1.99.853-.835 0-1.499-.246-1.992-.74-.493-.53-.739-1.232-.739-2.104 0-.948.284-1.669.853-2.162.607-.53 1.422-.796 2.446-.796Zm9.329 0c1.251 0 2.237.493 2.958 1.479.72.948 1.08 2.313 1.08 4.095 0 1.669-.379 3.205-1.137 4.608-.72 1.403-1.801 2.806-3.242 4.21-.038.037-.095.056-.171.056-.114 0-.208-.057-.284-.17-.076-.114-.076-.209 0-.285 1.858-1.896 2.787-4.133 2.787-6.712 0-1.062-.19-1.84-.569-2.332-.341.569-1.005.853-1.99.853-.835 0-1.499-.246-1.992-.74-.493-.53-.74-1.232-.74-2.104 0-.948.285-1.669.854-2.162.607-.53 1.422-.796 2.446-.796Z">
        </path>
      </svg>
      <PortableText value={review.review} />
      {review.video && <p class="name">{review.name}</p>}
    </div>
  </article>
</section>

<style lang="scss">
  .SingleReview {
    padding: clamp(3rem, calc(4vw / 0.48), 5rem) 0;
    display: grid;
    grid-template-columns: 1fr auto 2.6fr;
    align-items: center;
    &[data-is-video='true'] {
      article {
        grid-template-columns: 1fr 1.3fr;
        gap: clamp(1.5rem, calc(1.75vw / 0.48), 3rem);
      }
    }
    .line {
      width: 1px;
      height: calc(100% + 4rem);
      background-color: var(--primary-500, #064040);
      margin: 0 clamp(3rem, calc(5vw / 0.48), 7rem) 0 clamp(3rem, calc(5vw / 0.48), 8rem);
    }
    article {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      gap: 1.5rem clamp(3rem, calc(5vw / 0.48), 9rem);
    }
    .video {
      border-radius: 0.25rem;
      border: 1px solid var(--neutral-800, rgba(32, 32, 37, 1));
      max-height: 405px;
      width: auto;
      margin: 0 auto;
    }
    .avatar {
      display: grid;
      gap: clamp(0.75rem, calc(1vw / 0.48), 1rem);
      align-items: center;
      justify-items: center;
      text-align: center;
      img {
        border-radius: 50%;
        border: 1px solid var(--primary-500, #064040);
        padding: 4px;
        width: clamp(58px, calc(106vw / 7.68), 138px);
        height: clamp(58px, calc(106vw / 7.68), 138px);
      }
    }
    .review {
      svg {
        margin-bottom: 1.5rem;
      }
      .name {
        margin-top: 1.5rem;
      }
    }
    @media (max-width: 63rem) {
      max-width: 38rem;
      margin: 0 auto;
      grid-template-columns: unset;
      .line {
        width: 100%;
        height: 1px;
        margin: 2rem 0 clamp(1.25rem, calc(3vw / 0.48), 3rem);
      }
    }
    @media (max-width: 43rem) {
      &[data-is-video='true'] {
        article {
          grid-template-columns: 1fr;
        }
        .video {
          margin: unset;
        }
      }
      article {
        grid-template-columns: 1fr;
      }
      .avatar {
        grid-template-columns: auto 1fr;
        text-align: left;
        justify-items: unset;
      }
      &[data-is-video='false'] {
        .review {
          display: grid;
          grid-template-columns: auto 1fr;
          gap: 0.75rem;
        }
      }
    }
  }
</style>
