---
export const slugPrefix = '/pl/'

import Layout from '@repo/shared/Layout'
import sanityFetch from '@repo/utils/sanity.fetch'
import metadataFetch from '@repo/utils/metadata.fetch'
import Breadcrumbs from '@components/shared/Breadcrumbs.astro'
import Components, { Components_Query, type ComponentsProps } from '@components/Components.astro'
import ServicesNav, { ServicesNav_Query, type ServicesNavProps } from '@components/Services/ServicesNav.astro'
import ScrollToNextPage from '@components/shared/ScrollToNextPage.astro'

export async function getStaticPaths() {
  const pages = await sanityFetch<{ slug: string }[]>({
    query: `
      *[_type == 'Service_Collection' || _type == 'Location_Collection' && language == $language][] {
        "slug": slug.current,
      }
    `,
    params: { language: 'pl' },
  })
  return pages?.map(({ slug }) => ({ params: { serviceAndLocation: slug.replace(slugPrefix, '') } }))
}

const { serviceAndLocation } = Astro.params
const slug = `${slugPrefix}${serviceAndLocation}`

const page = await sanityFetch<
  {
    _type: 'Service_Collection' | 'Location_Collection'
    name: string
    mainPage: {
      name: string
      slug: string
    }
    servicePage: {
      name: string
      slug: string
      mainPage?: {
        name: string
        slug: string
      }
    }
    components: ComponentsProps
    ScrollToNextPage: {
      name: string
      slug: string
    }
  } & ServicesNavProps
>({
  query: `
    *[(_type == 'Service_Collection' || _type == 'Location_Collection') && slug.current == $slug && language == $language][0] {
      _type,
      name,
      mainPage -> {
        name,
        "slug": slug.current,
      },
      servicePage -> {
        name,
        "slug": slug.current,
        mainPage -> {
          name,
          "slug": slug.current,
        },
      },
      ${ServicesNav_Query}
      ${Components_Query}
      "ScrollToNextPage": coalesce(
        *[_type == 'Service_Collection' && language == $language
          && slug.current match '/pl/' + $baseServicePath + '*'
          && _createdAt > ^._createdAt
        ] | order(_createdAt asc)[0] {
          name,
          "slug": slug.current,
        },
        *[_type == 'Service_Collection' && language == $language
          && slug.current match '/pl/' + $baseServicePath + '*'
        ] | order(_createdAt asc)[0] {
          name,
          "slug": slug.current,
        }
      )
    }
  `,
  params: {
    slug: slug,
    baseServicePath: serviceAndLocation.split('/')[0],
    language: 'pl',
  },
})

if (!page) return Astro.rewrite('/404')

const getBreadcrumbs = [
  ...(page?.mainPage ? [{ name: page.mainPage.name, path: page.mainPage.slug }] : []),
  ...(page?.servicePage?.mainPage
    ? [{ name: page.servicePage.mainPage.name, path: page.servicePage.mainPage.slug }]
    : []),
  ...(page?.servicePage ? [{ name: page.servicePage.name, path: page.servicePage.slug }] : []),
  { name: page.name, path: slug },
]

const metadata = await metadataFetch(slug)
---

<Layout {...metadata}>
  <Breadcrumbs data={getBreadcrumbs} />
  <Components data={page.components} />
  {page._type === 'Service_Collection' && <ServicesNav {...page.ServicesNav} currentSlug={slug} />}
  {
    page._type === 'Service_Collection' && (
      <ScrollToNextPage slot="ScrollToNextPage" path={page.ScrollToNextPage.slug} data-element="ScrollToNextPage">
        <h2>
          ❧ Scrolluj, scrolluj, to <strong>jeszcze nie koniec</strong>!
        </h2>
        <p>{page.ScrollToNextPage.name}</p>
      </ScrollToNextPage>
    )
  }
</Layout>

<style lang="scss">
  [data-element='ScrollToNextPage'] {
    text-align: center;
    h2 {
      max-width: 17rem;
      margin: 0 auto 1rem;
    }
  }
</style>
