---
export const prerender = false

import { DOMAIN } from '@/src/global/constants'
import sanityFetch from '@repo/utils/sanity.fetch'
import Layout from '@/src/layouts/Layout.astro'
import type { HeadProps } from '@/src/layouts/Head.astro'
import Image, { ImageDataQuery, type ImageDataProps } from '@/components/ui/image'
import PortableText, { PortableTextQuery, type PortableTextValue } from '@/components/ui/portable-text'
import Copy from '@/components/ui/Copy.astro'
import Socials from '@/components/ui/Socials.astro'

const URL = 'https://l.kryptonum.eu'

const host = Astro.request.headers.get('host')
if (!host?.includes(URL.replace('https://', ''))) {
  return new Response(null, { status: 404 })
}

const page = await sanityFetch<{
  seo: Omit<HeadProps, 'path'>
  heading: PortableTextValue
  homepageTitle: string
  services: {
    title: string
    items: {
      name: string
      slug: string
    }[]
  }
  pages: {
    title: string
    portfolio: {
      title: string
      slug: string
      thumbnails: {
        img: ImageDataProps
      }[]
      leftCount: number
    }
    team: {
      title: string
      slug: string
      avatars: {
        img: ImageDataProps
      }[]
    }
    blog: {
      title: string
      slug: string
      thumbnails: {
        img: ImageDataProps
      }[]
      leftCount: number
    }
  }
  contact: {
    title: string
    img: ImageDataProps
    emailText: string
    email: string
    telText: string
    tel: string
    address: {
      img: ImageDataProps
      text: string
      addressText: string
      mapLink: string
    }
    socials: {
      socialTitle: string
      socialText: string
    }
  }
}>({
  query: `
    *[_type == "Links_Page"][0] {
      "seo": {
        "title": seo.title,
        "description": seo.description,
        "openGraphImage": seo.img.asset -> url + "?w=1200",
      },
      ${PortableTextQuery('heading')}
      homepageTitle,
      services {
        title,
        items[] -> {
          name,
          "slug": slug.current,
        }
      },
      pages {
        title,
        "portfolio": {
          "title": portfolioTitle,
          "slug": *[_type == "Portfolio_Page"][0].slug.current,
          "thumbnails": *[_type == "CaseStudy_Collection"][] | order(date desc) [0...3] {
            ${ImageDataQuery('img')}
          },
          "leftCount": count(*[_type == "CaseStudy_Collection"]) - 3,
        },
        "team": {
          "title": teamTitle,
          "slug": *[_type == "Team_Page"][0].slug.current,
          "avatars": *[_type == "TeamMember_Collection"][] | order(_createdAt asc) {
            ${ImageDataQuery('img')}
          },
        },
        "blog": {
          "title": blogTitle,
          "slug": *[_type == "Blog_Page"][0].slug.current,
          "thumbnails": *[_type == "BlogPost_Collection"][] | order(coalesce(publishedDate, _createdAt) desc) [0...3] {
            ${ImageDataQuery('img')}
          },
          "leftCount": count(*[_type == "BlogPost_Collection"]) - 3,
        },
      },
      contact {
        title,
        "img": select(isReference => personReference -> ${ImageDataQuery('img')} ${ImageDataQuery('img')}),
        emailText,
        "email": coalesce(email, personReference -> email),
        telText,
        "tel": coalesce(tel, personReference -> tel),
        address {
          ${ImageDataQuery('img')}
          text,
          "addressText": coalesce(addressText, *[_type == "global"][0].address.addressText),
          "mapLink": coalesce(mapLink, *[_type == "global"][0].address.mapLink),
        },
        "socials": {
          socialTitle,
          socialText,
        },
      },
    }
  `,
})
---

<Layout url={URL} {...page.seo} clearLayout={true}>
  <svg xmlns="http://www.w3.org/2000/svg" width="149" height="32" fill="none" viewBox="0 0 149 32">
    <title>Kryptonum</title>
    <path
      fill="url(#Links_Page-a)"
      d="M20.76 15.998a5.88 5.88 0 0 1-1.039 3.326 6.3 6.3 0 0 1-2.776 2.24v10.218h-5.088v-10.22a6.294 6.294 0 0 1-2.777-2.24 5.874 5.874 0 0 1-1.039-3.324c0-1.181.361-2.337 1.039-3.325a6.294 6.294 0 0 1 2.777-2.24V.214h5.088v10.218a6.297 6.297 0 0 1 2.777 2.24 5.877 5.877 0 0 1 1.038 3.327Z">
    </path>
    <path
      fill="url(#Links_Page-b)"
      d="M29.892 0v7.285l-5.313 5.072-2.543-2.428-1.638 1.563c-.373-.451-.8-.859-1.273-1.215L29.892 0Z">
    </path>
    <path
      fill="url(#Links_Page-c)"
      d="m24.577 19.64 5.314 5.073v7.285L19.125 21.721c.473-.355.9-.763 1.272-1.214l1.637 1.562 2.543-2.428Z">
    </path>
    <path
      fill="#F0F7F7"
      d="M6.775 16a7.037 7.037 0 0 0 1.637 4.507l-6.725 6.42v-7.284l2.545-2.428v-2.429l-2.545-2.428V5.073l6.725 6.42A7.036 7.036 0 0 0 6.775 16ZM44.614 21.5l-4.592-5.088V21.5h-1.456V10.348h1.456v5.168l4.608-5.168h1.84l-5.056 5.584 5.104 5.568h-1.904Zm4.346-7.344c.256-.501.619-.89 1.088-1.168.48-.277 1.061-.416 1.744-.416v1.504h-.384c-1.632 0-2.448.885-2.448 2.656V21.5h-1.456v-8.768h1.456v1.424Zm11.905-1.424-5.28 12.896H54.08l1.728-4.224-3.536-8.672h1.616l2.752 7.104 2.72-7.104h1.504Zm2.28 1.616c.287-.501.714-.917 1.28-1.248.576-.341 1.242-.512 2-.512.778 0 1.482.187 2.112.56.64.373 1.14.901 1.503 1.584.363.672.544 1.456.544 2.352 0 .885-.18 1.675-.544 2.368a4.004 4.004 0 0 1-1.504 1.616 3.974 3.974 0 0 1-2.112.576c-.746 0-1.408-.165-1.984-.496-.565-.341-.997-.763-1.295-1.264v5.776h-1.457V12.732h1.456v1.616Zm5.952 2.736c0-.661-.134-1.237-.4-1.728a2.754 2.754 0 0 0-1.088-1.12 2.946 2.946 0 0 0-1.488-.384 2.91 2.91 0 0 0-1.489.4c-.448.256-.81.635-1.088 1.136-.266.49-.4 1.061-.4 1.712 0 .661.134 1.243.4 1.744.278.49.64.87 1.088 1.136.46.256.955.384 1.489.384.544 0 1.04-.128 1.488-.384a2.864 2.864 0 0 0 1.088-1.136c.266-.501.4-1.088.4-1.76Zm4.38-3.152V19.1c0 .427.09.73.272.912.181.17.496.256.944.256h1.072V21.5h-1.312c-.81 0-1.419-.187-1.824-.56-.405-.373-.608-.987-.608-1.84v-5.168h-1.136v-1.2h1.136v-2.208h1.456v2.208h2.288v1.2h-2.288Zm7.236 7.712a4.534 4.534 0 0 1-2.24-.56 4.07 4.07 0 0 1-1.568-1.584c-.373-.693-.56-1.493-.56-2.4 0-.896.192-1.685.576-2.368a4.01 4.01 0 0 1 1.6-1.584c.672-.373 1.424-.56 2.256-.56.832 0 1.584.187 2.256.56.672.363 1.2.885 1.584 1.568.395.683.592 1.477.592 2.384 0 .907-.203 1.707-.608 2.4a4.118 4.118 0 0 1-1.616 1.584c-.683.373-1.44.56-2.272.56Zm0-1.28c.523 0 1.013-.123 1.472-.368a2.748 2.748 0 0 0 1.104-1.104c.288-.49.432-1.088.432-1.792s-.139-1.301-.416-1.792c-.277-.49-.64-.853-1.088-1.088a2.983 2.983 0 0 0-1.456-.368c-.533 0-1.024.123-1.472.368-.437.235-.79.597-1.056 1.088-.267.49-.4 1.088-.4 1.792 0 .715.128 1.317.384 1.808.267.49.619.859 1.056 1.104.437.235.917.352 1.44.352Zm10.043-7.792c1.066 0 1.93.325 2.591.976.662.64.993 1.568.993 2.784V21.5H92.9v-4.96c0-.875-.22-1.541-.657-2-.437-.47-1.034-.704-1.791-.704-.769 0-1.382.24-1.84.72-.448.48-.672 1.179-.672 2.096V21.5h-1.456v-8.768h1.456v1.248a2.902 2.902 0 0 1 1.168-1.04 3.699 3.699 0 0 1 1.647-.368Zm13.098.16V21.5h-1.456v-1.296c-.277.448-.667.8-1.168 1.056a3.6 3.6 0 0 1-1.632.368c-.683 0-1.296-.139-1.84-.416a3.184 3.184 0 0 1-1.296-1.28c-.31-.565-.464-1.253-.464-2.064v-5.136h1.44v4.944c0 .864.218 1.53.656 2 .437.459 1.035.688 1.792.688.779 0 1.392-.24 1.84-.72.448-.48.672-1.179.672-2.096v-4.816h1.456Zm12.362-.16c.683 0 1.291.144 1.824.432.534.277.955.699 1.264 1.264.31.565.464 1.253.464 2.064V21.5h-1.44v-4.96c0-.875-.218-1.541-.656-2-.426-.47-1.008-.704-1.744-.704-.757 0-1.36.245-1.808.736-.448.48-.672 1.179-.672 2.096V21.5h-1.44v-4.96c0-.875-.218-1.541-.656-2-.426-.47-1.008-.704-1.744-.704-.757 0-1.36.245-1.808.736-.448.48-.672 1.179-.672 2.096V21.5h-1.456v-8.768h1.456v1.264a2.89 2.89 0 0 1 1.152-1.056 3.566 3.566 0 0 1 1.616-.368c.736 0 1.387.165 1.952.496.566.33.987.816 1.264 1.456a2.88 2.88 0 0 1 1.216-1.44 3.585 3.585 0 0 1 1.888-.512Z">
    </path>
    <defs>
      <linearGradient id="Links_Page-a" x1="20.522" x2="7.24" y1=".213" y2=".554" gradientUnits="userSpaceOnUse">
        <stop stop-color="#2DD282"></stop><stop offset="1" stop-color="#90F4E8"></stop>
      </linearGradient>
      <linearGradient id="Links_Page-b" x1="29.691" x2="18.474" y1="0" y2=".623" gradientUnits="userSpaceOnUse">
        <stop stop-color="#2DD282"></stop><stop offset="1" stop-color="#90F4E8"></stop>
      </linearGradient>
      <linearGradient id="Links_Page-c" x1="29.689" x2="18.474" y1="19.641" y2="20.263" gradientUnits="userSpaceOnUse">
        <stop stop-color="#2DD282"></stop><stop offset="1" stop-color="#90F4E8"></stop>
      </linearGradient>
    </defs>
  </svg>
  <PortableText value={page.heading} heading="h1" class="h2 heading" />
  <div class="group">
    <a href={`${DOMAIN}/pl`} class="group-link">
      <div class="blur"></div>
      {page.homepageTitle}
      <div class="overflowing-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20">
          <path
            fill="url(#paint0_linear_4726_49686)"
            d="M12.977 10.002c0 .738-.226 1.46-.65 2.079a3.937 3.937 0 0 1-1.735 1.4v6.386h-3.18V13.48a3.933 3.933 0 0 1-1.735-1.399 3.672 3.672 0 0 1-.65-2.078c0-.738.226-1.46.65-2.078a3.934 3.934 0 0 1 1.735-1.4V.137h3.18v6.386a3.936 3.936 0 0 1 1.736 1.4c.424.618.65 1.34.649 2.079Z">
          </path>
          <path
            fill="url(#paint1_linear_4726_49686)"
            d="M18.683 0v4.553l-3.321 3.17-1.59-1.517-1.023.977a4.685 4.685 0 0 0-.796-.76L18.683 0Z">
          </path>
          <path
            fill="url(#paint2_linear_4726_49686)"
            d="m15.36 12.277 3.322 3.17v4.554l-6.729-6.423c.295-.223.562-.477.795-.76l1.024.977 1.589-1.518Z">
          </path>
          <path
            fill="#F0F7F7"
            d="M4.23 10.002a4.398 4.398 0 0 0 1.024 2.816L1.05 16.831v-4.553l1.59-1.518V9.244L1.05 7.725V3.172l4.203 4.012a4.397 4.397 0 0 0-1.023 2.818Z">
          </path>
          <defs>
            <linearGradient
              id="paint0_linear_4726_49686"
              x1="12.828"
              x2="4.526"
              y1=".137"
              y2=".35"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#2DD282"></stop><stop offset="1" stop-color="#90F4E8"></stop>
            </linearGradient>
            <linearGradient
              id="paint1_linear_4726_49686"
              x1="18.556"
              x2="11.546"
              y1="0"
              y2=".389"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#2DD282"></stop><stop offset="1" stop-color="#90F4E8"></stop>
            </linearGradient>
            <linearGradient
              id="paint2_linear_4726_49686"
              x1="18.556"
              x2="11.546"
              y1="12.277"
              y2="12.666"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#2DD282"></stop><stop offset="1" stop-color="#90F4E8"></stop>
            </linearGradient>
          </defs>
        </svg>
      </div>
    </a>
  </div>
  <div class="group">
    <p class="group-title">{page.services.title}</p>
    <ul class="group-list">
      {
        page.services.items.map(({ name, slug }) => (
          <li class="item">
            <a href={slug} class="group-link">
              <div class="blur" />
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="group">
    <p class="group-title">{page.pages.title}</p>
    <ul class="group-list">
      <li class="item">
        <a href={`${DOMAIN}${page.pages.portfolio.slug}`} class="group-link" data-link-portfolio>
          <div class="blur"></div>
          {page.pages.portfolio.title}
          <div class="thumbnails">
            {page.pages.portfolio.thumbnails.map(({ img }) => <Image {...img} sizes="54px" />)}
            {page.pages.portfolio.leftCount > 0 && <p class="overflowing-icon">+{page.pages.portfolio.leftCount}</p>}
          </div>
        </a>
      </li>
      <li class="item">
        <a href={`${DOMAIN}${page.pages.team.slug}`} class="group-link" data-link-team>
          <div class="blur"></div>
          {page.pages.team.title}
          <div class="avatars">
            {page.pages.team.avatars.map(({ img }) => <Image {...img} sizes="32px" class="gradient-thumbnail" />)}
          </div>
        </a>
      </li>
      <li class="item">
        <a href={`${DOMAIN}${page.pages.blog.slug}`} class="group-link" data-link-blog>
          <div class="blur"></div>
          {page.pages.blog.title}
          <div class="thumbnails">
            {page.pages.blog.thumbnails.map(({ img }) => <Image {...img} sizes="57px" />)}
            {page.pages.blog.leftCount > 0 && <p class="overflowing-icon">+{page.pages.blog.leftCount}</p>}
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="group">
    <p class="group-title">{page.contact.title}</p>
    <div class="contact-wrapper">
      <div class="person">
        <Image {...page.contact.img} sizes="48px" class="gradient-thumbnail" />
        <div class="email">
          <p class="label-text">{page.contact.emailText}</p>
          <a href={`mailto:${page.contact.email}`}>{page.contact.email}</a>
          <Copy data={page.contact.email} successMessage="Pomyślnie skopiowano adres e-mail" />
        </div>
        {
          page.contact.tel && (
            <div class="tel">
              <p class="label-text">{page.contact.telText}</p>
              <a href={`tel:${page.contact.tel}`}>{page.contact.tel}</a>
              <Copy data={page.contact.tel} successMessage="Pomyślnie skopiowano numer telefonu" />
            </div>
          )
        }
      </div>
      <div class="address">
        <Image {...page.contact.address.img} sizes="48px" class="gradient-thumbnail" />
        <p class="label-text">{page.contact.address.text}</p>
        <p>{page.contact.address.addressText}</p>
        <a href={page.contact.address.mapLink} target="_blank" rel="noopener noreferrer" class="CopyToClipboard">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" fill="none">
              <path fill="#1A73E8" d="M7.78.266a5.573 5.573 0 0 0-5.974 1.73l2.637 2.213L7.781.266Z"></path>
              <path
                fill="#EA4335"
                d="M1.806 1.996A5.581 5.581 0 0 0 .5 5.576c0 1.052.206 1.899.556 2.66L4.443 4.21 1.806 1.996Z">
              </path>
              <path
                fill="#4285F4"
                d="M6.088 3.446a2.137 2.137 0 0 1 1.633 3.52S9.4 4.958 11.046 3.01A5.571 5.571 0 0 0 7.781.266L4.443 4.208c.4-.46.98-.762 1.645-.762Z">
              </path>
              <path
                fill="#FBBC04"
                d="M6.088 7.714a2.137 2.137 0 0 1-2.141-2.14c0-.52.181-1.004.496-1.367L1.057 8.234c.58 1.282 1.548 2.322 2.54 3.616L7.72 6.952c-.399.472-.98.762-1.632.762Z">
              </path>
              <path
                fill="#34A853"
                d="M7.647 13.207c1.863-2.915 4.027-4.233 4.027-7.62 0-.93-.23-1.801-.629-2.575l-7.45 8.84c.315.411.642.883.956 1.367 1.137 1.753.822 2.793 1.548 2.793.726 0 .411-1.052 1.548-2.805Z">
              </path>
            </svg>
            Zobacz na mapie
          </span>
        </a>
      </div>
      <div class="social">
        <p class="label-text">{page.contact.socials.socialTitle}</p>
        <p>{page.contact.socials.socialText}</p>
        <Socials class="links" />
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  :global(main) {
    padding: clamp(3rem, calc(5vw / 0.48), 5rem) 0;
    padding-right: 1rem;
    max-width: 27rem;
  }
  .heading {
    margin: clamp(3rem, calc(4vw / 0.48), 4rem) 0 clamp(2rem, calc(3vw / 0.48), 3rem) 0;
  }
  .group {
    &:not(:last-child) {
      margin-bottom: clamp(3rem, calc(4vw / 0.48), 4rem);
    }
  }
  .group-title {
    font-size: var(--typography-body-m, 0.875rem);
    margin-bottom: 0.75rem;
  }
  .group-list {
    display: grid;
    gap: 0.5rem;
  }
  .group-link {
    width: 100%;
    padding: 1.25rem;
    border-radius: 0.25rem;
    border: 1px solid var(--primary-500, #064040);
    background-color: var(--primary-900, #001414);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem 1rem;
    transition: transform 500ms var(--easing);
    position: relative;
    z-index: 2;
    .blur {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      &::before {
        content: '';
        height: 100%;
        aspect-ratio: 1/1;
        background-color: var(--primary-500, #064040);
        filter: blur(32px);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, 0%, 0);
        z-index: -1;
        transition:
          opacity 800ms var(--easing),
          transform 800ms var(--easing);
        opacity: 0;
      }
    }
    &:hover,
    &:focus-visible {
      .blur {
        &::before {
          opacity: 1;
          transform: translate3d(-50%, -50%, 0);
        }
      }
    }
    &:active {
      transition: none;
      transform: scale(0.99);
      .blur {
        &::before {
          transform: translate3d(-50%, -50%, 0) scale(2);
        }
      }
    }
    &[data-link-portfolio] {
      .thumbnails {
        display: flex;
        gap: 0.25rem;
        img {
          width: 54px;
          border-radius: 0.25rem;
          border: 1px solid var(--primary-500, #064040);
        }
      }
    }
    &[data-link-team] {
      .avatars {
        display: flex;
        img {
          width: 32px;
          height: 32px;
          &:not(:first-child) {
            margin-left: -6px;
          }
        }
      }
    }
    &[data-link-blog] {
      .thumbnails {
        display: flex;
        gap: 0.25rem;
        img {
          width: 57px;
          border-radius: 0.25rem;
          border: 1px solid var(--primary-500, #064040);
        }
      }
    }
  }
  .overflowing-icon {
    display: grid;
    place-items: center;
    border-radius: 0.25rem;
    border: 1px solid var(--primary-500, #064040);
    background: var(--neutral-900, #010104);
    font-size: var(--typography-body-s, 0.75rem);
    padding: 0.34rem;
    min-width: 2rem;
    color: #2dd282;
    margin-right: -2.25rem;
  }
  .contact-wrapper {
    padding: 1.25rem;
    border-radius: 0.25rem;
    border: 1px solid var(--primary-500, #064040);
    background-color: var(--primary-900, #001414);
    display: grid;
    gap: 1.5rem;
    .label-text {
      color: var(--neutral-400, #c6cdcc);
      font-size: var(--typography-body-m, 0.875rem);
      margin-bottom: 0.34rem;
    }
    .person {
      display: grid;
      gap: 1rem;
      position: relative;
      img {
        width: clamp(2.5rem, calc(3vw / 0.48), 3rem);
        height: clamp(2.5rem, calc(3vw / 0.48), 3rem);
        position: absolute;
        right: -1.25rem;
        transform: translateX(50%);
      }
    }
    .address {
      position: relative;
      img {
        width: clamp(2.5rem, calc(3vw / 0.48), 3rem);
        height: clamp(2.5rem, calc(3vw / 0.48), 3rem);
        position: absolute;
        right: -1.25rem;
        transform: translateX(50%);
      }
      .CopyToClipboard {
        margin-top: 0.25rem;
      }
    }
    .social {
      .links {
        margin-top: 0.25rem;
      }
    }
  }
</style>
