---
import type { ComponentProps } from 'astro/types'
import SimpleCtaSection, { SimpleCtaSection_Query } from '@/components/global/SimpleCtaSection.astro'
import Faq, { Faq_Query } from '@/components/global/Faq.astro'
import TagsSection, { TagsSection_Query } from '@/components/global/TagsSection.astro'
import MarqueePillSection, { MarqueePillSection_Query } from '@/components/global/MarqueePillSection.astro'
import HeaderGridIcons, { HeaderGridIcons_Query } from '@/components/global/HeaderGridIcons.astro'
import SimpleHeaderWithImage, { SimpleHeaderWithImage_Query } from '@/components/global/SimpleHeaderWithImage.astro'
import SplitScreenCtaSection, { SplitScreenCtaSection_Query } from '@/components/global/SplitScreenCtaSection.astro'
import OverlappingCircles, { OverlappingCircles_Query } from '@/components/global/OverlappingCircles.astro'
import PillCtaSection, { PillCtaSection_Query } from '@/components/global/PillCtaSection.astro'
import StackImagesWithCtaAndAvatars, {
  StackImagesWithCtaAndAvatars_Query,
} from '@/components/global/StackImagesWithCtaAndAvatars.astro'
import ImageAndNumberedList, { ImageAndNumberedList_Query } from '@/components/global/ImageAndNumberedList.astro'
import SkillsAndLinks, { SkillsAndLinks_Query } from '@/components/global/SkillsAndLinks.astro'
import ContactInfo, { ContactInfo_Query } from '@/components/global/ContactInfo.astro'
import SimpleTextSection, { SimpleTextSection_Query } from '@/components/global/SimpleTextSection.astro'
import AvailabilityStatus, { AvailabilityStatus_Query } from '@/components/global/AvailabilityStatus.astro'
import GroupedElements, { GroupedElements_Query } from '@/components/global/GroupedElements.astro'
import SimpleCtaColumnWithMedia, {
  SimpleCtaColumnWithMedia_Query,
} from '@/components/global/SimpleCtaColumnWithMedia.astro'
import TeamSpotlight, { TeamSpotlight_Query } from '@/components/global/TeamSpotlight.astro'
import PerformanceHighlights, { PerformanceHighlights_Query } from '@/components/global/PerformanceHighlights.astro'
import RichListAndCtaBox, { RichListAndCtaBox_Query } from '@/components/global/RichListAndCtaBox.astro'
import NarrowHeaderAndMedia, { NarrowHeaderAndMedia_Query } from '@/components/global/NarrowHeaderAndMedia.astro'
import ProcessItemsGraph, { ProcessItemsGraph_Query } from '@/components/global/ProcessItemsGraph.astro'
import Reviews, { Reviews_Query } from '@/components/global/Reviews.astro'
import SingleReview, { SingleReview_Query } from '@/components/global/SingleReview.astro'
import LatestBlogPosts, { LatestBlogPosts_Query } from '@/components/global/LatestBlogPosts.astro'
import TrustedCompanies, { TrustedCompanies_Query } from '@/components/global/TrustedCompanies.astro'
import ContactForm, { ContactForm_Query } from '@/components/global/ContactForm/ContactForm.astro'
import PersonIntroduction, { PersonIntroduction_Query } from '@/components/global/PersonIntroduction.astro'
import PersonEmojisIntroduction, {
  PersonEmojisIntroduction_Query,
} from '@/components/global/PersonEmojisIntroduction.astro'
import StatsHighlight, { StatsHighlight_Query } from '@/components/global/StatsHighlight.astro'
import TeamIntroduction, { TeamIntroduction_Query } from '@/components/global/TeamIntroduction.astro'
import CenteredMediaTextSection, {
  CenteredMediaTextSection_Query,
} from '@/components/global/CenteredMediaTextSection.astro'
import DetailedInfoAndStats, { DetailedInfoAndStats_Query } from '@/components/global/DetailedInfoAndStats.astro'
import CaseStudyShowcase, { CaseStudyShowcase_Query } from '@/components/global/CaseStudyShowcase.astro'
import MediaShowcase, { MediaShowcase_Query } from '@/components/global/MediaShowcase.astro'
import CompareTable, { CompareTable_Query } from '@/components/global/CompareTable.astro'
import Timeline, { Timeline_Query } from '@/components/global/Timeline.astro'
import NetworkedShowcase, { NetworkedShowcase_Query } from '@/components/global/NetworkedShowcase.astro'
import Newsletter, { Newsletter_Query } from '@/components/global/Newsletter/Newsletter.astro'
import ChartWithSimpleText, { ChartWithSimpleText_Query } from '@/components/global/ChartWithSimpleText.astro'
import TabsText, { TabsText_Query } from '@/components/global/TabsText.astro'
import DecryptTabs, { DecryptTabs_Query } from '@/components/global/DecryptTabs.astro'
import TagsLine, { TagsLine_Query } from '@/components/global/TagsLine.astro'
import StagesAccordion, { StagesAccordion_Query } from '@/components/global/StagesAccordion.astro'
import Pricing, { Pricing_Query } from '@/components/global/Pricing.astro'
import PricingRange, { PricingRange_Query } from '@/components/global/PricingRange.astro'

const components = {
  SimpleCtaSection,
  Faq,
  TagsSection,
  MarqueePillSection,
  HeaderGridIcons,
  SimpleHeaderWithImage,
  SplitScreenCtaSection,
  OverlappingCircles,
  PillCtaSection,
  StackImagesWithCtaAndAvatars,
  ImageAndNumberedList,
  SkillsAndLinks,
  ContactInfo,
  SimpleTextSection,
  AvailabilityStatus,
  GroupedElements,
  SimpleCtaColumnWithMedia,
  TeamSpotlight,
  PerformanceHighlights,
  RichListAndCtaBox,
  NarrowHeaderAndMedia,
  ProcessItemsGraph,
  Reviews,
  SingleReview,
  LatestBlogPosts,
  TrustedCompanies,
  ContactForm,
  PersonIntroduction,
  PersonEmojisIntroduction,
  StatsHighlight,
  TeamIntroduction,
  CenteredMediaTextSection,
  DetailedInfoAndStats,
  CaseStudyShowcase,
  MediaShowcase,
  CompareTable,
  Timeline,
  NetworkedShowcase,
  Newsletter,
  ChartWithSimpleText,
  TabsText,
  DecryptTabs,
  TagsLine,
  StagesAccordion,
  Pricing,
  PricingRange,
}

type ComponentsMap = {
  [Component in keyof typeof components]: {
    _type: Component
  } & ComponentProps<(typeof components)[Component]>
}

export type ComponentsProps = Array<ComponentsMap[keyof typeof components]>

type Props = {
  data: ComponentsProps
  hasPreviousSections?: boolean
}

const { data, hasPreviousSections = false } = Astro.props

export const Components_Query = /* groq */ `
  components[] {
    _type,
    sectionId,
    ${SimpleCtaSection_Query}
    ${Faq_Query}
    ${TagsSection_Query}
    ${MarqueePillSection_Query}
    ${HeaderGridIcons_Query(true)}
    ${SimpleHeaderWithImage_Query(true)}
    ${SplitScreenCtaSection_Query}
    ${OverlappingCircles_Query}
    ${PillCtaSection_Query}
    ${StackImagesWithCtaAndAvatars_Query}
    ${ImageAndNumberedList_Query}
    ${SkillsAndLinks_Query}
    ${ContactInfo_Query}
    ${SimpleTextSection_Query}
    ${AvailabilityStatus_Query}
    ${GroupedElements_Query}
    ${SimpleCtaColumnWithMedia_Query}
    ${TeamSpotlight_Query}
    ${PerformanceHighlights_Query}
    ${RichListAndCtaBox_Query}
    ${NarrowHeaderAndMedia_Query}
    ${ProcessItemsGraph_Query}
    ${Reviews_Query}
    ${SingleReview_Query}
    ${LatestBlogPosts_Query}
    ${TrustedCompanies_Query}
    ${ContactForm_Query}
    ${PersonIntroduction_Query}
    ${PersonEmojisIntroduction_Query}
    ${StatsHighlight_Query}
    ${TeamIntroduction_Query}
    ${CenteredMediaTextSection_Query}
    ${DetailedInfoAndStats_Query}
    ${CaseStudyShowcase_Query}
    ${MediaShowcase_Query}
    ${CompareTable_Query}
    ${Timeline_Query}
    ${NetworkedShowcase_Query}
    ${Newsletter_Query}
    ${ChartWithSimpleText_Query}
    ${TabsText_Query}
    ${DecryptTabs_Query}
    ${TagsLine_Query}
    ${StagesAccordion_Query}
    ${Pricing_Query}
    ${PricingRange_Query}
  },
`
---

{
  data?.map((item, i) => {
    const DynamicComponent = components[item._type] as any
    if (!DynamicComponent) {
      console.warn(`Component not found: ${item._type}`)
      return <div>Missing component: {item._type}</div>
    }
    if (!DynamicComponent) return null
    return <DynamicComponent {...item} index={hasPreviousSections ? ++i : i} />
  })
}
